extends layout

//- block style
    //- link(rel='stylesheet' href='../stylesheets/style.css')
    //- style
    //-     include ../public/stylesheets/style.css

    
block content
    div(class=' w-50 mx-auto my-3' )
        h2(class='my-3 mx-3') #{title}
        - const btnClass =['btn btn-primary my-3 mx-3']
        button(class=btnClass) #[a(href='/product/form') Add Product]
            
        div
            table(class=' table mx-3')
                thead
                    tr
                        th S.No
                        th Item
                        th Price
                        th .........Action
                    
                tbody
                    each product in products
                        tr
                            td= product.sno
                            td= product.item
                            td= product.price
                            td 
                                button(class='btn btn-primary mx-3')
                                    a(href=`/product/edit/${product.sno}`) Edit
                                button(class='btn btn-primary mx-3')
                                    a(href=`/product/delete/${product.sno}`) Dlte